input {
	beats {
		port => 5044
	}
}

filter {
    grok {
        match => { "message" => "%{TIMESTAMP_ISO8601:applicationTimestamp} %{DATA:applicationName} %{DATA:environment} \[%{DATA:thread}\] %{LOGLEVEL:logLevel} %{DATA:class} - %{GREEDYDATA:message}" }
        overwrite => [ "message" ]
    }

	date {
		match => [ "applicationTimestamp", "ISO8601" ]
		target => "applicationTimestamp"
	}
}

output {
	if "_grokparsefailure" in [tags] {
    	elasticsearch {
			hosts => "es01:9200"
			index => "filebeat-logs-error"
		}
  	} else {
		elasticsearch {
			hosts => "es01:9200"
			index => "filebeat-logs"
		}
	}

	
}